@{
    ViewBag.Title = "Home Page";
}
    <div class="layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">


                <img src="~/Static/images/东宁纺织logo-01.png" alt="Alternate Text" class="layui-nav-img layui-bg-orange" />
                LayUi后台管理系统
            </div>
        </div>
        <div class="layui-side layui-bg-black">  </div>
        <div class="layui-body">  </div>
        <div class="layui-footer">  </div>

    </div>
   